@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

/*Override default black outline in Chrome*/
*:focus,*:hover{
    outline:none;
}

* {
    margin: 0;
    padding: 0;
  }

body {
    display: grid;
    justify-items: center;
    font-family: 'Inter', sans-serif;
    background-color: #e5e5e5;
}

.dashboard-container {
    width: clamp(800px, 100%, 2000px);
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: clamp(200px, 25%, 250px) 1fr;
}

header {
    background-color: aqua;
    grid-column: 2 / 3;
}

nav {
    display: grid;
    grid-template-rows: 1fr 5fr;
    background-color: #fff;
    grid-row: 1 / 3;
}

main {
    background-color: green;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

ul, li {
    list-style: none;
  }

.logo {
    display: flex;
    justify-content: baseline;
    align-items: center;
    font-weight: 600;
    font-size: 38px;
    color: #551fff;
    letter-spacing: -0.5px;
    padding-left: 30px;
}

.logo svg {
    fill: #551fff;
    transform: rotate(90deg);
}

li {
    padding: 10px 0px 10px 30px;
}

.icon, .link {
    vertical-align: middle;
    display: inline-block;
}

.link {
    margin-left: 10px;
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

li:hover {
    background-color:#F3F0FF;
}

li:hover .link {
    color: #551fff;
}

li:hover .icon {
    fill: #551fff;
}

li:nth-child(7) {
    margin-top: 50px;
}


/*Styles for a narrower screen*/
@media (max-width: 800px) {
    .dashboard-container {
        width: 100vw;
        min-width: 600px;
        grid-template-rows: 1fr 5fr;
        grid-template-columns: 1fr;
    }
    header {
        grid-column: 1 / 3;
    }
    main {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    nav {
        position: fixed;
        width: 200px;
        height: 100%;
        transform: translateX(-100%);
        transition: transform 500ms ease-in-out;
    }
}