@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');


:root {
    --logo-color: #551fff;
    --card-background: #fff;
    --card-padding: 25px;
    --task-priority-padding: 5px 10px;
}

/*Override default black outline in Chrome*/
*:focus,*:hover {
    outline:none;
}

* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}


body {
    font-family: 'Inter', sans-serif;
    background-color: #e5e5e5;
}

.dashboard-container {
    width: clamp(1500px, 100%, 2000px);
    height: 100vh;
    display: grid;
    grid-template-rows: 0.70fr 5fr;
    grid-template-columns: clamp(200px, 25%, 250px) 1fr;
    background-color: var(--card-background);
    gap: 10px;
}

header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2.5fr 1fr;
    margin-left: -10px;
    align-items: center;
    background-color: rgb(252, 214, 145);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

main {
    display: grid;
    resize: both;
    overflow: auto;
    grid-template-rows: repeat(8, minmax(150px, 250px));
    grid-template-columns: repeat(9,minmax(100px, 250px));
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

/*Search Bar*/
.search {
    display: flex;
    justify-content: center;
}

.search input {
    height: 40px;
    border-radius: 5px 0 0 5px;
    border: 1px solid var(--logo-color);
    flex-grow: 0.75;
    font-size: 20px;
    font-weight: 300;
}

.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--logo-color);
    background-color: var(--logo-color);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    width: 40px;
    height: 40px;

}

/*User profile and icons*/
.user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.user-name {
    font-size: 22px;
    font-weight: 700;
}

/*Left navigation bar*/
nav {
    display: grid;
    grid-template-rows: 0.7fr 5fr;
    background-color: #dbd8e6;
    grid-row: 1 / 3;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 38px;
    color: var(--logo-color);
    letter-spacing: -0.5px;
    padding-left: 30px;
}

.logo svg {
    fill: var(--logo-color);
    transform: rotate(90deg);
}

li {
    padding: 10px 0px 10px 30px;
}

.icon, .link {
    vertical-align: middle;
    display: inline-block;
}

.link {
    margin-left: 10px;
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

li:hover {
    background-color:#F3F0FF;
}

li:hover .link {
    color:var(--logo-color);
}

li:hover .icon {
    fill:var(--logo-color);
}

li:nth-child(7) {
    margin-top: 50px;
}

/*Styles and layouts for information card section*/
.info-card {
    margin: 10px;
    border-radius: 25px;
    background-color: var(--card-background);
    text-align: center;
    box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
    -8px -8px 18px 0 rgba(255, 255, 255, 0.55);
   
}

.summary {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    display: flex;
    justify-content: space-evenly;
}

.summary-items {
    display: flex;
    min-width: 150px;
    text-align: left;
    height: 100%;
    align-items: center;
}

.summary-icon img {
    height: 30px;
    width: 30px;
}

.summary-icon {
    padding: 15px;
    background-color: #fff2e9;
    border-radius: 10px;
}

.summary-header {
    margin-left: 10px;
    font-weight: 700;
    color: #92959e;
    font-size: 18px;
}

.summary-header p {
    font-weight: 300;
    color: black;
}

/*
Fit SVG image in its container
.chart img { 
    width: 100%;
    height: 100%; 
    object-fit: contain;
}*/

.chart {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    grid-template-rows: 80px auto;
    grid-row: 2 / 6;
    grid-column: 1 / 8;
    padding: var(--card-padding);
}

.costs {
    display: grid;
    align-items: center;
    grid-template-columns: auto;
    grid-template-rows: 80px auto;
    grid-row: 6 / 9;
    grid-column: 1 / 4;
    padding: var(--card-padding);
}

.integrations {
    display: grid;
    align-items: center;
    grid-template-columns: auto;
    grid-template-rows: 80px repeat(4, 1fr);
    grid-row: 6 / 9;
    grid-column: 4 / 7;
    padding: var(--card-padding);
}

.announce {
    display: grid;
    align-items: center;
    grid-template-columns: auto;
    grid-template-rows: 80px repeat(4, 1fr);
    grid-row: 1 / 6;
    grid-column: 8 / 10;
    padding: var(--card-padding);
}

.announce-items {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100%;
    border-bottom: 1px solid #e5e5e5;
}
.announce-items-header {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 700;
}

.tasks {
    display: grid;
    align-items: center;
    grid-template-columns: auto;
    grid-template-rows: 80px repeat(5, 1fr);
    grid-row: 6 / 10;
    grid-column: 7 / 10;
    padding: var(--card-padding);
}

.card-header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-size: 22px;
    font-weight: 700;
    border-bottom: 2px solid #e5e5e5;
    grid-row: 1 / 2;
}

.card-header p {
    font-weight: 300;
    font-size: 14px;
}

.task-choices {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

input[type="checkbox"] {
    margin-right: 10px;
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
}

/*Task priority tags*/
.high {
    background-color: rgb(201, 119, 119);
    color: white;
    padding: var(--task-priority-padding);
    border-radius: 5px;
}

.medium {
    background-color: orange;
    padding: var(--task-priority-padding);
    border-radius: 5px;
}

.low {
    background-color: rgb(111, 172, 111);
    padding: var(--task-priority-padding);
    border-radius: 5px;
}

/*Integrations card*/
.api-sources {
    display: flex;
    font-size: 18px;
    align-items: center;
}

.api-sources img {
    margin-right: 10px;
}

.active {
    margin-left: auto;
    background-color: rgb(111, 172, 111);
    padding: var(--task-priority-padding);
    border-radius: 5px;
}

.inactive {
    margin-left: auto;
    background-color: rgb(201, 119, 119);
    padding: var(--task-priority-padding);
    border-radius: 5px;
    color: white;
}

.chart-container {
    position: relative;
    height: 100%;
    width: auto;
}


/*Styles for a narrower screen*/
/*@media (max-width: 800px) {
    .dashboard-container {
        width: 100vw;
        min-width: 600px;
        grid-template-rows: 1fr 5fr;
        grid-template-columns: 1fr;
    }
    header {
        grid-column: 1 / 3;
    }
    main {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    nav {
        position: fixed;
        width: 200px;
        height: 100%;
        transform: translateX(-100%);
        transition: transform 500ms ease-in-out;
    }
}*/