@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

/*Override default black outline in Chrome*/
*:focus,*:hover{
    outline:none;
}

* {
    margin: 0;
    padding: 0;
  }

body {
    display: grid;
    justify-items: center;
    font-family: 'Inter', sans-serif;
    background-color: #e5e5e5;
}

.dashboard-container {
    width: clamp(800px, 100%, 2000px);
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: clamp(200px, 25%, 250px) 1fr;
    background-color: #c1b8df;
    border-radius: 20px;
    gap: 10px;
}

header {
    background-color: aqua;
    grid-column: 2 / 3;
}

nav {
    display: grid;
    grid-template-rows: 1fr 5fr;
    background-color: #fff;
    grid-row: 1 / 3;
}

main {
    display: grid;
    resize: both;
    overflow: auto;
    grid-template-rows: repeat(8, minmax(150px, 250px));
    grid-template-columns: repeat(9,minmax(100px, 250px));
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

ul, li {
    list-style: none;
  }

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 38px;
    color: #551fff;
    letter-spacing: -0.5px;
    padding-left: 30px;
}

.logo svg {
    fill: #551fff;
    transform: rotate(90deg);
}

li {
    padding: 10px 0px 10px 30px;
}

.icon, .link {
    vertical-align: middle;
    display: inline-block;
}

.link {
    margin-left: 10px;
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

li:hover {
    background-color:#F3F0FF;
}

li:hover .link {
    color: #551fff;
}

li:hover .icon {
    fill: #551fff;
}

li:nth-child(7) {
    margin-top: 50px;
}

/*Styles and layouts for main section*/
.info-card {
    margin: 10px;
    border-radius: 25px;
    background-color: white;
    text-align: center;
}

#top-card {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
}

/*
Fit SVG image in its container

.chart img { 
    width: 100%;
    height: 100%; 
    object-fit: contain;
}*/

.chart {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    grid-template-rows: 80px auto;
    grid-row: 2 / 6;
    grid-column: 1 / 8;
    padding: 25px;
}

.costs {
    display: grid;
    align-items: center;
    grid-template-columns: auto;
    grid-template-rows: 80px auto;
    grid-row: 6 / 9;
    grid-column: 1 / 4;
    padding: 25px;
}

.integrations {
    display: grid;
    align-items: center;
    grid-template-columns: auto;
    grid-template-rows: 80px repeat(4, 1fr);
    grid-row: 6 / 9;
    grid-column: 4 / 7;
    padding: 25px;
}

.announce {
    display: grid;
    align-items: center;
    grid-template-columns: auto;
    grid-template-rows: 80px repeat(4, 1fr);
    grid-row: 1 / 6;
    grid-column: 8 / 10;
    padding: 25px;
}

.announce-items {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100%;
    border-bottom: 1px solid #e5e5e5;
}
.announce-items-header {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 700;
}

.tasks {
    display: grid;
    align-items: center;
    grid-template-columns: auto;
    grid-template-rows: 80px repeat(5, 1fr);
    grid-row: 6 / 10;
    grid-column: 7 / 10;
    padding: 25px;
}

.card-header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-size: 22px;
    font-weight: 700;
    border-bottom: 2px solid #e5e5e5;
    grid-row: 1 / 2;
}

.card-header p {
    font-weight: 300;
    font-size: 14px;
}

.task-choices {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

input[type="checkbox"] {
    margin-right: 10px;
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
}

.high {
    background-color: rgb(201, 119, 119);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.medium {
    background-color: orange;
    padding: 5px 10px;
    border-radius: 5px;
}

.low {
    background-color: rgb(111, 172, 111);
    padding: 5px 10px;
    border-radius: 5px;
}

.api-sources {
    display: flex;
    font-size: 18px;
    align-items: center;
}

.api-sources img {
    margin-right: 10px;
}

.active {
    margin-left: auto;
    background-color: rgb(111, 172, 111);
    padding: 5px 10px;
    border-radius: 5px;
}

.inactive {
    margin-left: auto;
    background-color: rgb(201, 119, 119);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.chart-container {
    position: relative;
    height: 100%;
    width: auto;
}


/*Styles for a narrower screen*/
@media (max-width: 800px) {
    .dashboard-container {
        width: 100vw;
        min-width: 600px;
        grid-template-rows: 1fr 5fr;
        grid-template-columns: 1fr;
    }
    header {
        grid-column: 1 / 3;
    }
    main {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    nav {
        position: fixed;
        width: 200px;
        height: 100%;
        transform: translateX(-100%);
        transition: transform 500ms ease-in-out;
    }
}